.main {
  height: 100%;
  width: 100%;
  /* max-width: 512px; */
  /* aspect-ratio: 0.8; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 0.5;
  max-width: 100%;
  min-width: 320px;
}

.streak-data {
  font-size: 0.75em;
  width: 100%;
  min-width: 320px;
  padding: 0.25em 0.5em;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.word-answer {
  font-weight: 900;
  padding-left: 0.5em;
  display: flex;
  flex: 1;
  text-transform: uppercase;
  align-items: center;
  gap: 0.75em;
}

.word-answer .help {
  display: flex;
  align-items: center;
}

.control-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}

.reset-button,
.next-button {
  font-size: 1em;
  padding: 0.5em 1.25em;
  display: flex;
  margin: 0em 0.75em;
  font-weight: bolder !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  border-radius: 0.25em;
  border: none;
  box-sizing: border-box;
  background-color: #787c7e;
}

.next-button {
  background-color: #6aaa64;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0.8em 0.5em;
  width: 100%;
  gap: 5px;
}

.keyboard {
  display: flex;
  width: 100%;
}

.line {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
}

.tile {
  font-size: 1.75em;
  font-weight: bolder !important;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  aspect-ratio: 1;
  text-transform: capitalize;
  border: 1px solid #787c7e;
  box-sizing: border-box;
}

.correct-char-correct-index {
  animation: spin_1 1s linear forwards;
  border: none;
}

.correct-char-incorrect-index {
  animation: spin_2 1s linear forwards;
  border: none;
}

.incorrect-char-incorrect-index {
  transition: background-color 1s linear;
  background-color: #363636;
  border: none;
}

@keyframes spin_1 {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
    background-color: #363636;
  }
  100% {
    transform: rotateX(360deg);
    background-color: #6aaa64;
  }
}

@keyframes spin_2 {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
    background-color: #363636;
  }
  100% {
    transform: rotateX(360deg);
    background-color: #c9b458;
  }
}
